<mat-toolbar>
    <div class="toolbarst">
        จัดการตารางสอน



    </div>
</mat-toolbar>





<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 ">
            <div>
                <form>
                    <div class="form-group">
                        <br>
                        &nbsp;&nbsp;
                        <mat-form-field>
                            <mat-label>ปีการศึกษา</mat-label>
                            <mat-select>
                                <mat-option value="2556">2556</mat-option>
                                <mat-option value="2557">2557</mat-option>
                                <mat-option value="2558">2558</mat-option>
                                <mat-option value="2559">2559</mat-option>
                                <mat-option value="2560">2560</mat-option>
                                <mat-option value="2561">2561</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;&nbsp;
                        <mat-form-field>
                            <mat-label>เทอม</mat-label>
                            <mat-select>
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field>
                            <mat-label>กลุ่มเรียน</mat-label>
                            <mat-select>
                                <mat-option value="58346CPE">58346CPE</mat-option>
                                <mat-option value="58446CPE">58446CPE</mat-option>
                                <mat-option value="58146CPE">58146CPE</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;&nbsp;
                        <button type="button" class="btn btn-success">ตกลง</button>

                        <br>

                    </div>

                </form>
            </div>
            <br><br>

            <table class="table table-bordered shadow">
                <thead style="font-size: 12px;">
                    <tr>
                        <th scope="col">วัน/เวลา</th>
                        <th scope="col">8.00-9.00 น.</th>
                        <th scope="col">9.00-10.00 น.</th>
                        <th scope="col">10.00-11.00 น.</th>
                        <th scope="col">12.00-13.00 น.</th>
                        <th scope="col">13.00-14.00 น.</th>
                        <th scope="col">15.00-16.00 น.</th>
                        <th scope="col">16.00-17.00 น.</th>
                        <th scope="col">17.00-18.00 น.</th>
                        <th scope="col">18.00-19.00 น.</th>
                        <th scope="col">19.00-20.00 น.</th>
                        <th scope="col">20.00-21.00 น.</th>
                    </tr>
                </thead>
                <tbody style="font-size: 12px;">
                    <tr>
                        <th scope="row">จันทร์</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">อังคาร</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">พุธ</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">พฤหัส</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">ศุกร์</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">เสาร์</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">อาทิตย์</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>















        </div>
        <div class="col-md-4">
            <div>
                <form>
                    <h3 style="margin-top: 10px;">อัพโหลดไฟล์รายวิชา</h3>
                    <div class="form-group">
                        <br>
                        <mat-form-field>
                            <mat-label>ปีการศึกษา</mat-label>
                            <mat-select>
                                <mat-option value="2556">2556</mat-option>
                                <mat-option value="2557">2557</mat-option>
                                <mat-option value="2558">2558</mat-option>
                                <mat-option value="2559">2559</mat-option>
                                <mat-option value="2560">2560</mat-option>
                                <mat-option value="2561">2561</mat-option>
                            </mat-select>
                        </mat-form-field>
                        &nbsp;
                        <mat-form-field>
                            <mat-label>เทอม</mat-label>
                            <mat-select>
                                <mat-option value="1">1</mat-option>
                                <mat-option value="2">2</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <br>
                        <label for="exampleFormControlFile1">Import File .CSV</label>
                        <input type="file" class="form-control-file" id="exampleFormControlFile1">
                    </div>

                    <button type="button" class="btn btn-info">อัพโหลด</button>
                </form>
            </div>
        </div>
    </div>
</div>