body
{
    background-color: aliceblue;
    background-size: auto;
    /* background-repeat: no-repeat;
    background-size: cover; */
    position: fixed;
    /* left: 0;
    right: 0;
    top: 0;
    bottom: 0; */
}
.dataTable{
    color: aliceblue;
    background-color:rgb(47, 47, 121);
    text-align: center;
}
.nondataTable{
    background: whitesmoke;
    text-align: center;
}
.uploadForm{
    border: 1px solid rgb(228, 226, 226);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}
th {
    background-color:gray;
    color: white;
} 
/* thead{
    background-color: brown
} */