form{
    margin: 30px;
    transition-delay: 2s;
}
.infrom{
    width: 100%;
}
.button-row button,
.button-row a {
  margin-right: 10px;
}

.dropdow
{
    width: 100%;
}
.uploadForm{
    border: 1px solid rgb(228, 226, 226);
    border-radius: 10px;
    padding: 20px 20px 20px 20px;
}
i{
    cursor: pointer;
  }
  th {
    background-color:gray;
    color: white;
} 