
<div class="container-fluid bg" >
  <div class="row">
    <div class='col-md-1'></div>


    <div class='col-md-10 '>
        <div class="mid" style="font-size:50px; color:black ">
            ยินดีต้อนรับเข้าสู่ระบบ
          </div>
          <br>
          <div class="mid2" style="font-size:25px; color: black ">
            ระบบนับเก้าอี้ในชั้นเรียนแลการจัดการห้องผ่านแอพพลิเคชั่น </div>
          <div class="mid3" style="font-size:25px; color: black" >
            Counting System For People Sitting In Class And Managing Room Via Application</div>



    </div>

    <div class='col-md-1'></div>


  </div>

</div>




