

body{

  background-color: rgb(214, 213, 213);
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.home{

    font-size: 18px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.logout{
  font-size: 18px;
  text-decoration: none;
 
}


a{
  color:snow;
  text-decoration: none;
} 

.shadows {
  box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  height: 60px;
  width: 100%;
}
