

   
 
    <!-- <nav class="navbar navbar-light shadows " style="background-color: rgb(69, 77, 82) "> -->
        <nav class="navbar navbar-dark bg-dark shadows">

      <div class="home">
        <a routerLink="/admin/home" class="fa fa-home " aria-hidden="true">&nbsp;หน้าหลัก</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a routerLink="/admin/managetable"><i class="fa fa-table "  aria-hidden="true"></i>&nbsp;จัดการตารางสอน</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="/admin/manageuser"><i class="fa fa-graduation-cap" aria-hidden="true"></i>&nbsp;ข้อมูลนักศึกษา</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="/admin/managehardware"><i class="fa fa-cogs" aria-hidden="true"></i>&nbsp;จัดการอุปกรณ์</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="/admin/manageroom"><i class="fa fa-university"  aria-hidden="true"></i>&nbsp;จัดการห้องเรียน</a>&nbsp;&nbsp;&nbsp;
        <a routerLink="/admin/systemreport"><i class="fa fa-wrench" aria-hidden="true"></i>&nbsp;รายงานระบบ</a>

      </div>
      <div class="logout">
        <a routerLink="/login" class="fa fa-sign-out" aria-hidden="true">&nbsp;ออกจากระบบ</a>

      </div>

    </nav>






<router-outlet></router-outlet>